<ion-header class="no-border">
    <ion-navbar color="primary">
        <ion-title>Recursos</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <div class="header-bar">
        <h2>{{nombre_asignatura}}</h2>
        <span>{{tipo_clase.TIPO | tipoClase}} - {{tipo_clase.GRUPO}}</span>
    </div>

    <my-notice class="wheader" *ngIf="datos_recursos.length == 0" [notice]="notice"></my-notice>

    <table class="tabla" *ngFor="let tipo_recurso_key of datos_recursos | keys">
        <tr class="tabla__header no-border">
            <th colspan="3" class="asignatura">{{datos_recursos[tipo_recurso_key].TIPO_NOMBRE}}</th>
        </tr>
        <tr class="tabla__subheader">
            <td class="index">#</td>
            <td text-left>DESCRIPCIÓN</td>
            <td class="action"></td>
        </tr>
        <tr class="tabla__col" *ngFor="let recurso_key of datos_recursos[tipo_recurso_key].RECURSOS | keys; let j=index">
            <td class="index">{{j+1}}</td>
            <td class="with-button" text-left>
                <span>
                    {{datos_recursos[tipo_recurso_key].RECURSOS[recurso_key].REC_DESCRIPCION | utf8Decode }}
                    <span class="secundary-text">
                        {{datos_recursos[tipo_recurso_key].RECURSOS[recurso_key].REC_EXTENSION}} / 
                        {{datos_recursos[tipo_recurso_key].RECURSOS[recurso_key].REC_TAM}} -
                        {{datos_recursos[tipo_recurso_key].RECURSOS[recurso_key].FECHA | formatoFecha}}
                    </span>
                </span>
            </td>
            <td>
                <div tappable (click)="desplegarOpciones(datos_recursos[tipo_recurso_key].RECURSOS[recurso_key])">
                    <ion-icon style="padding: 0; height: 24px; font-size: 24px;" name="md-more"></ion-icon>
                </div>
            </td>
        </tr>
    </table>


</ion-content>