/**********************************************************************
*BOTÓN DE MENÚ
***********************************************************************/

.boton-menu {
    height: 39px;
    width: 39px;
    min-width: auto;
    order: 1;
    font-size: 1.4rem;
    border-radius: 50%;
    box-shadow: 1px 1px 1px grey;
}

/**********************************************************************
*BOTÓN DE RETROCESO
***********************************************************************/

button.back-button.bar-button {
    width: 36px;
    height: 36px;
    min-width: auto;
    border-radius: 50%;
    background-color: color($colors, amarillo);
}

/**********************************************************************
*BOTÓN DE PROFESOR 
*APARECE EN PÁGINA RESUMEN DE ASIGNATRUA
***********************************************************************/

button.nav-pill-button {
    color: white;
    padding: .8rem 1.6rem;
    border-radius: 1.6rem;
    background-color: color($colors, _blue_light);
}